.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fefefe;
  padding: 20px 32px;
  flex-wrap: wrap;
}

/* Left Logo Section */
.navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

#logo {
  height: 130px;
  width: 130px;
}

.navbar-left h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #333;
  margin: 0;
}

/* Navigation Menu */
.navbar-bw {
  display: flex;
  list-style: none;
  gap: 25px;
  font-size: 1.8rem;
  padding-left: 0;
  margin: 0;
}

.navbar-bw li {
  cursor: pointer;
}

.navbar-bw li a {
  text-decoration: none;
  color: #333;
}

.navbar-bw li a:hover {
  color: #ff6b35;
  transition: 0.2s;
}

.navbar-bw .active {
  border-bottom: 2px solid #49557e;
  color: #ff6b35;
}


@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .navbar-left {
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
  }

  #logo {
    height: 90px;
    width: 90px;
  }

  .navbar-left h1 {
    font-size: 2rem;
    text-align: center;
  }

  .navbar-bw {
    flex-direction: column;
    gap: 15px;
    align-items: center;
    width: 100%;
    margin-top: 15px;
  }

  .navbar-bw li {
    font-size: 1.6rem;
  }
}
