.footer {
  background-color: #fefefe;
  text-align: center;
  padding: 1rem;
  font-size: 1.4rem;
  border-top: 1px solid #ccc;
  margin-top: 3rem;
  width: 100%;
  box-sizing: border-box;
}


@media (max-width: 600px) {
  .footer {
    font-size: 1.2rem;
    padding: 0.8rem;
  }
}
